<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col col-9>
      <ion-item>
        <ion-input type="text" [(ngModel)]="currentSystemArea" placeholder="New System Area"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <button ion-button (click)="addSystemArea()">New</button>
    </ion-col>
  </ion-row>

  <ion-list>
    <ion-item-sliding *ngFor="let systemArea of systemAreas | async">
      <ion-item (click)="loadSystemAreaItems(systemArea.title)">
        {{systemArea.title}}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" icon-only (click)="removeSystemArea(systemArea._id, systemArea._rev)"><ion-icon name="trash"></ion-icon></button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
